services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"

    environment:
      - MONGO_INITDB_DATABASE=blog_mern
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
    volumes:
      - mongo-data:/data/db
      - mongodb_config:/data/configdb

volumes:
  mongo-data:
    driver: local
  mongodb_config:
    driver: local
